body
{
	text-align: left;
	text-align: center;
	font-family: "Arial", sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
}

#container
{

	width: 70%;
	padding: 1em;
	text-align: left;
	border: 1px solid #ccc;
	margin: 0 auto;
}

#container h1
{
	font-size: 20px;
}