body
{
	background: #1e1f24;
	text-align: center;
	font-family: "Arial", sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
}

#cabecera
{
	background: #93c23c;
	color: white;
	font-weight: bold;
	margin: 0;
	padding: 0.5em;
}

#cabecera #logo
{
	width: 20px;
	vertical-align: middle;
}
#container
{
	width: 70%;
	padding: 0;
	text-align: left;
	border: 1px solid #ccc;
	margin: 0 auto;
}
#cabecera #tagline
{
	padding:  0 0 0 1em;
	font-weight: normal;
	font-size: 0.8em;
}

#container h1
{
	font-size: 20px;
}


#post
{
	background: #fff;
	padding: 1em;
}

#footer
{
	background: #777;
	color: #fff;
	text-align: center;
	padding: 0.5em;
}